<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Manage Guests</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

</head>
<body>
<div class="container-fluid text-center">
    <div class="m-4"><h2>Manage Guests</h2></div>
    <div th:if="${message}" class="alert alert-success text-center" role="alert">
        <!-- ez a rész felel a megjelenő successfully saved zöld sávért-->
        [[${message}]]
    </div>
    <div>
        <table class="table table-bordered table-striped text-center">
            <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Place of Birth</th>
                <th>Birth</th>
                <th>ID number</th>
                <th>E-mail</th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="currentGuest : ${listGuests}">
                <tr>
                    <td>[[${currentGuest.id}]]</td>
                    <td>[[${currentGuest.title}]]</td>
                    <td>[[${currentGuest.firstName}]]</td>
                    <td>[[${currentGuest.lastName}]]</td>
                    <td>[[${currentGuest.placeOfBirth}]]</td>
                    <td>[[${#dates.format(currentGuest.birth, 'yyyy-MM-dd')}]]</td>
                    <td>[[${currentGuest.idNumber}]]</td>
                    <td>[[${currentGuest.email}]]</td>
                    <td> <!-- ezek a action hyperlink-ek -->
                        <a class="h5 me-3" th:href="@{'/guest/edit/' + ${currentGuest.id}}">Edit</a>
                        <a class="h5" th:href="@{'/guest/delete/' + ${currentGuest.id}}">Delete</a>
                    </td>
                </tr>
            </th:block>

            </tbody>

        </table>
    </div>
    <div><a class="h4 m-4" th:href="@{/home}">Back Home</a></div>
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>
</html>