<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Manage Reservations</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

</head>
<body>
<div class="container-fluid text-center">
    <div><h2>Manage Reservations</h2></div>
    <div class="m-4"> <!--margin használat-->
        <a class="h3" th:href="@{/reservations/new/guest}">Add New Reservation</a>
    </div>
    <div>
        <table class="table table-bordered table-striped text-center">
            <thead>
            <tr>
                <th>Id</th>
                <th>Guest</th>
                <th>Room</th>
                <th>Arrival</th>
                <th>Leaving</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="currentReservation : ${listReservations}">
                <tr>
                    <td>[[${currentReservation.id}]]</td>
                    <!-- itt a guest-en belül lekérem a neveket -->
                    <td>[[${currentReservation.guest.firstName} + ' ' + ${currentReservation.guest.lastName}]]</td>
                    <td>[[${currentReservation.room.id}]]</td>
                    <td>[[${#dates.format(currentReservation.arrival, 'yyyy-MM-dd')}]]</td>
                    <td>[[${#dates.format(currentReservation.leaving, 'yyyy-MM-dd')}]]</td>
                    <td> <!-- ezek a action hyperlink-ek -->
                        <a class="h5 me-3" th:href="@{'/reservations/edit/' + ${currentReservation.id}}">Edit</a> <!--me-3 = margin-right 3-mal, hogy legyen köztük hely-->
                        <a class="h5" th:href="@{'/reservations/delete/' + ${currentReservation.id}}">Delete</a>
                    </td>
                </tr>
            </th:block>

            </tbody>

        </table>


    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>
</html>